hostname {{ item.hostname }}

interface {{ item.loopbackName }}
 ip address {{ item.loopbackIP }}
 no shutdown

{% for int in item.interfaces -%}

interface FastEthernet{{ int.name }}
 ip address {{ int.IP }}
 no shutdown

{% endfor %}
router ospf {{ item.processID }}
{% for network in item.ospfnetworks -%}
network {{ network.IP }} area {{ network.area }}
{% endfor %}
